.searchBar{
    width: 350px;
  }
  .sideNavBar-box {
    width: 380px;
    height: 700px;
    padding: 10px;
    border: 5px solid #003580;
    background-color: #003580;
    margin: auto;
    margin-top: 150px;
  }
  .searchBar-container{
    font-size: medium;
    align-items: center;
  }
  .searchBar-container h1{
    font-size: 20px;
    color: white;
    margin: 10px;
    align-content: center;
  }