.image-gallery {
    width: 100%;
    height: 200px;
}

.image-gallery-slide img {
    width: 100%;
    height: auto;
    resize: both;
    max-height: 200px;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh;
}